APP_NAME=NeuroEyeAI

DB_HOST=localhost
DB_PORT=5432
DB_NAME=neuroeye
DB_USER=postgres
DB_PASSWORD=postgres

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_SECRET_KEY=CHANGE_ME
JWT_ALGORITHM=HS256

# Platform super admin (used by seeders)
SEED_PLATFORM_EMAIL=mtzcornejo66@gmail.com
SEED_PLATFORM_PASSWORD=1234567890!
SEED_PLATFORM_FIRST_NAME=Javier
SEED_PLATFORM_LAST_NAME=Martínez
SEED_PLATFORM_SECOND_LAST_NAME=Cornejo
